[user]
	name = Gísli Freyr Brynjarsson
	email = "(none)"
[credential]
	helper = cache --timeout=3600
[alias]
    br = branch
    ca = commit -a
    co = checkout
    cob = checkout -b
    st = status
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[color]
	ui = auto
[push]
	default = current
