[user]
	name = Gísli Freyr Brynjarsson
	email = (none)
[credential]
	helper = cache --timeout=3600
[alias]
    br = branch
    ca = commit -a
    co = checkout
    cob = checkout -b
    st = status
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(magenta)(%cn)%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --left-right
[color]
	ui = auto
[push]
	default = current
[core]
	editor = /usr/local/bin/vim
