[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = http://github.com/Raimondi/delimitMate.git
	ignore = dirty
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = http://github.com/bling/vim-airline.git
	ignore = dirty
[submodule "vim/bundle/vim-bufferline"]
	path = vim/bundle/vim-bufferline
	url = http://github.com/bling/vim-bufferline.git
	ignore = dirty
